In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data_white = pd.read_csv('winequality-white.csv', sep=';')

In [3]:
data_white

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [4]:
data_x = data_white.copy()
data_x = data_white.drop(['fixed acidity', 'residual sugar', 'free sulfur dioxide', 'pH', 'quality'], axis=1)
data_x

,volatile acidity,citric acid,chlorides,total sulfur dioxide,density,sulphates,alcohol
0,0.27,0.36,0.045,170.0,1.00100,0.45,8.8
1,0.30,0.34,0.049,132.0,0.99400,0.49,9.5
2,0.28,0.40,0.050,97.0,0.99510,0.44,10.1
3,0.23,0.32,0.058,186.0,0.99560,0.40,9.9
4,0.23,0.32,0.058,186.0,0.99560,0.40,9.9
...,...,...,...,...,...,...,...
4893,0.21,0.29,0.039,92.0,0.99114,0.50,11.2
4894,0.32,0.36,0.047,168.0,0.99490,0.46,9.6
4895,0.24,0.19,0.041,111.0,0.99254,0.46,9.4
4896,0.29,0.30,0.022,110.0,0.98869,0.38,12.8
4897,0.21,0.38,0.020,98.0,0.98941,0.32,11.8

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [6]:
y = data_white['quality']

In [7]:
scaler = StandardScaler()
scaler.fit(data_x)
x_scaled = scaler.transform(data_x)

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,train_size=0.8,shuffle=True,random_state=42)

In [9]:
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [10]:
reg.score(x_train,y_train)
#RÂ²

0.25363407036258034

In [11]:
reg.score(x_test,y_test)
#RÂ²

0.23702954334384885

In [12]:
reg.coef_

array([-0.21942815, -0.03132166, -0.02091708,  0.04862805,  0.09937382,
        0.04357612,  0.48863383])

In [13]:
reg.intercept_

5.874489556446164

In [14]:
reg_tabela = pd.DataFrame([['Bias'],['volatile acidity'],['citric acid'],['chlorides'],['total sulfur dioxide'],['density'],['sulphates'],['alcohol']],columns=['Features'])
reg_tabela

               Features
0                  Bias
1      volatile acidity
2           citric acid
3             chlorides
4  total sulfur dioxide
5               density
6             sulphates
7               alcohol

In [15]:
reg_tabela['Weights'] = reg.intercept_,reg.coef_[0],reg.coef_[1],reg.coef_[2],reg.coef_[3],reg.coef_[4],reg.coef_[5],reg.coef_[6]

In [16]:
reg_tabela

               Features   Weights
0                  Bias  5.874490
1      volatile acidity -0.219428
2           citric acid -0.031322
3             chlorides -0.020917
4  total sulfur dioxide  0.048628
5               density  0.099374
6             sulphates  0.043576
7               alcohol  0.488634

In [17]:
reg_tabela.sort_values('Weights',ascending=False)

               Features   Weights
0                  Bias  5.874490
7               alcohol  0.488634
5               density  0.099374
4  total sulfur dioxide  0.048628
6             sulphates  0.043576
3             chlorides -0.020917
2           citric acid -0.031322
1      volatile acidity -0.219428

In [18]:
reg_tabela.to_excel('regressao_white_wine.xlsx')